<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="/homepage">Home</a>
        <a href="/about">About Me</a>
        <a href="/project">Projects</a> 
        <a href="/hobbies">Hobbies</a>
        <a href="/contact">Contact Me</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Hello, it's me <br> <span class="transition">Rhay Bien.</span></h1>
                <p>As a second-year college student at Mindoro State University (MinSU),
                    pursuing a Bachelor of Science in Information Technology, I am
                    deeply committed to advancing my knowledge and skills in this 
                    dynamic field. Every day, I embrace challenges as opportunities
                    for growth and learning. Whether it's tackling complex programming
                        assignments, delving into the intricacies of database management,
                        or exploring the latest advancements in cybersecurity, I approach
                        each task with enthusiasm and determination.
                </p>
            </div>
            <div class="col-md- 3"> 
                <img src="/assets/profile.jpg" alt="Your Logo" class="logo">
            </div>
        </div>
    </div>

</body>
</html>

