<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="/homepage">Home</a>
        <a href="/about">About Me</a>
        <a href="/project">Projects</a> 
        <a href="/hobbies">Hobbies</a>
        <a href="/contact">Contact Me</a>
    </nav>

    <div class="welcome-container">
        <h5>WELCOME TO MY PORTFOLIO</h5>
    </div>
</body>
</html>
