<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="/homepage">Home</a>
        <a href="/about">About Me</a>
        <a href="/project">Projects</a> 
        <a href="/hobbies">Hobbies</a>
        <a href="/contact">Contact Me</a>
    </nav>

    <section id="about">
        <div class="container">
             <h4> -About- </h4>
         </div>
         <div class="timeline">
             <div class="container-timeline">
                
                 <img src="assets/education.png" class="graduatelogo">
                 <div class="text-box">
                     <h2>Educational Background</h2>
                     <small>
                         <b> Tertiary </b> (Mindoro State University S.Y. 2022 - current)<br>
                         <b> Senior High School  </b>(Oriental Mindoro National High School S.Y. 2020 - 2022)<br>
                         <b> Junior High School </b> (Community Vocational High School S.Y. 2016 - 2020)<br>
                         <b> Elementary School </b>(Aurora Central School S.Y. 2009 - 2016)<br>
                         <span class="container-timeline-arrow"></span>
                     </small>
                 </div>
                 <div class="container-profile">
                     
                     <img src="assets/profile.png" class="profilelogo">
                     <div class="text-box-profile">
                         <h2>About Me</h2>
                         <small>
                             <b>Full Name:</b> Rhay Bien Driz Bahia <br>
                             <b>Date of Birth:</b> November 18, 2004 <br>
                             <b>Age:</b> 19 <br>
                             <b>Gender:</b> Male <br>
                             <b>Religion:</b> Roman Catholic <br>
                             <span class="container-profile-arrow"></span>
                         </small>
                     </div> 
                 </div>
                 <div class="container-timeline">
                     
                     <img src="assets/valorant.png" class="valologo">
                     <div class="text-box-valo">
                         <h2>Favorite Game</h2>
                         <small>
                             Valorant is a team-based first-person tactical hero shooter.
                             Players play as one of a set of Agents, characters based on several 
                             countries and cultures around the world. In the main game mode, 
                             players are assigned to either the attacking or defending team with 
                             each team having five players on it. Valorant is a 5v5 tactical, 
                             character-based shooter that has gained popularity in the PC 
                             gaming arena. 
                             <span class="container-timeline-arrow"></span>
                         </small>
                     </div>
         </div>
         </div>
     </section>
 
    
    
</body>
</html>
