<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="/homepage">Home</a>
        <a href="/about">About Me</a>
        <a href="/project">Projects</a> 
        <a href="/hobbies">Hobbies</a>
        <a href="/contact">Contact Me</a>
    </nav>
    <!-- Hobbies Section -->
<section id="hobbies">
    <div class="container">
        <h2>-Hobbies-</h2>
        <div class="hobby">
            <h3>Playing</h3>
            <div class="graph-container">
                <div class="graph" style="width: 85%;"></div>
            </div>
        </div>
        <div class="hobby">
            <h3>Studying</h3>
            <div class="graph-container">
                <div class="graph" style="width: 50%;"></div>
            </div>
        </div>
        <div class="hobby">
            <h3>Sleeping</h3>
            <div class="graph-container">
                <div class="graph" style="width: 75%;"></div>
            </div>
        </div>
    </div>
</section>


</body>
</html>